
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_navbar.cshtml";
}

<div class="container-fluid">
    <div class=" h-0 col-9  mx-auto  py-5 mt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">About</li>
            </ol>
        </nav>
        <div class="mt-5">
            <h1 class="font-weight-bold">About</h1>
            <p class="text-black-50">
                Meet the all-new Echo Dot with clock—Amazon's most popular smart speaker with Alexa. The sleek, compact design delivers crisp vocals and balanced bass for full sound.

                Perfect for your bedside table—see the time, alarms and timers on the LED display. Tap the top to snooze an alarm.

                Ready to help—ask Alexa to tell a joke, play music, answer questions, play the news, check the weather, set alarms and more.

                Control your smart home—use your voice to turn on lights, adjust thermostats and lock doors with compatible devices.

                Connect with others—Call almost anyone hands free. Instantly drop in on other rooms or announce to the entire household that dinner's ready.

                Designed to protect your privacy - Built with multiple layers of privacy protections and controls, including a microphone off button that electronically disconnects the microphones.

                Meet the all-new Echo Dot

                Complete any room with Alexa. Amazon's most popular smart speaker has a sleek, compact design that fits perfectly into small spaces. It delivers crisp vocals and balanced bass for full sound you can enjoy anywhere in your home. See the time, alarms and timers on the LED display. You can tap the top to snooze an alarm.

                "Alexa, play music everywhere."

                

                Connect to the internet with the Alexa app.

                Ask Alexa for music, weather, news and more.

                Every day is an earth day

                You don't have to be an environmental scientist to make sustainable choices. Amazon considered sustainability in the design of this device. Here's how:

               </p>
            <p class="text-black-50">
                Use your voice to play a song, artist or genre through Amazon Music, Apple Music, Spotify, Deezer and more. With multi-room music , you can fill your whole home with music, radio stations, podcasts and Audible using compatible Echo devices in different rooms.

                Alexa is happy to help

                Make your life easier at home. Set timers, ask questions, add items to lists, and create calendar events and reminders. Check the traffic and weather, or listen to the news. Access tens of thousands of Alexa skills, such as TV Guide or Fitbit. All using just your voice.

                Voice control your home

                Manage compatible smart home devices using your voice. Switch on the lamp before getting out of bed, dim the lights from the sofa to watch a film, or turn the thermostat down as you head out.

                Stay connected and in sync

                Instantly drop in on other rooms in your home or make an announcement to every room that has a compatible Echo device. Let everyone know dinner is ready, or remind the children that it’s bedtime. You can also stay in touch with friends and family with hands-free calling.

                Designed to protect your privacy

                Alexa and Echo devices are built with multiple layers of privacy protection. Echo smart speakers have a Microphone Off button that electronically disconnects the microphones. You also have control over your voice recordings and can view, hear or delete them at any time.

                Simple to set up and use

                Plug in Echo Dot.
            </p>
            <p class="text-black-50">
                Materials

                50% of the plastics used are post-consumer recycled plastics.
                100% of the fabric used is post-consumer recycled fabric.
                100% of the aluminium used is recycled die-cast aluminium.
                Device, cable and adaptor included.
                Clean Energy

                Amazon is building new wind and solar farms to produce clean energy equivalent to the electricity used by this device.

                Device Packaging

                99% of this device’s packaging is made of wood fibre-based materials from responsibly managed forests or recycled sources.

                Low Power Mode

                To reduce its energy consumption, this device will enter Low Power mode when it is idle. Low Power mode is not available for certain user configurations.
            </p>
        </div>

    </div>
</div>