
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_navbar.cshtml";
}
    <style>
        .form {
            height: 80vh;
        }

        .h-0 {
            height: 800px;
        }

        
    </style>
<main class="d-flex  flex-column justify-content-center ">
    <div class="container-fluid bg-light">
        <div class=" col-9 mx-auto ">

            <div class="row form ">
                <div class="col  w-50 d-flex flex-column justify-content-center pl-5">
                    <h1 class="font-weight-bold    ">Echo Dot 4th Gen.</h1>
                    <p class="text-body text-black-50 mt-3 mb-4">
                        Stream music and podcasts from Amazon Music, Apple Music and Spotify
                        Voice control your smart home by asking Alexa.
                    </p>
                    <div>
                        <button type="button" class="btn btn-primary rounded shadow  btn-sm px-3">   <a class="nav-link text-light" href="#">See More</a></button>
                    </div>

                </div>
                <div class="col  d-flex flex-column justify-content-center align-items-center ">
                    <img width="600px" src="~/images/amazon-echo-dot-4th-gen.png" alt="Alternate Text" />
                </div>

            </div>


        </div>
    </div>
</main>
<div class=" h-0 col-9 py-5 mx-auto py-5">
    <div class="row ">
        <div class="col rounded bg-dark "></div>

        <div class="col mx-4"></div>

        <div class="col"></div>
    </div>
</div>

