<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar  mx-auto py-3  col-10  navbar-expand  navbar-light  d-flex justify-content-between">
            <a class="navbar-brand font-weight-bold" href="/Home/Index">
                <img width="100px" src="~/images/Echo_Logo.jpg" alt="Alternate Text" />
            </a>
            <div class="float-right d-flex flex-row align-items-center text-primary ">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Home/Index">Home </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/Home/Products">Products</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/Home/About">About</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/Home/Amazon">Amazon</a>
                    </li>
                </ul>
                <button type="button" class="btn btn-outline-primary   btn-dark rounded shadow ml-5 btn-sm">   <a class="text-light nav-link" href="/Home/Download">Download Manual</a></button>
            </div>
        </nav>
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
